@charset "utf-8";

* {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
:after, :before {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,figure,figcaption{margin:0;padding:0}
body,input,textarea,select,button,table{font-family: "NanumSquare",'Open Sans',AppleGothic,helvetica,sans-serif;font-size:15px;letter-spacing:-0.06em;line-height:1.5em;color:#2c2c2c;word-break:keep-all;-webkit-text-size-adjust:none;}
img{border:0;max-width:100%;vertical-align:top;}
ul,ol{list-style:none}
fieldset{border:none}
fieldset legend {overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;text-indent:-999em;}
button{cursor:pointer}
header,hgroup,article,nav,footer,figure,figcaption,canvas,section,time{display:block}
hr {clear:both;display:none;}
br{ 
    font-family:'Noto Sans KR' !important; 
}
*html body img {margin:none; padding:none;} /*for IE 6*/
* {max-height: 1000000px;}

a{
	color:inherit;
	text-decoration:none;
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
a:hover,
a:active{
	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		 -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

::-webkit-input-placeholder {color:#999;}
:-moz-placeholder {color:#999;}
::-moz-placeholder {color:#999;}
:-ms-input-placeholder {color:#999;}
:placeholder-shown {color:#999;}

table caption {overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;text-indent:-999em;}
input[type="radio"], input[type="checkbox"] {vertical-align:middle !important; margin:-2px 3px 0 0 !important;}
input,select {vertical-align:middle; background:#fff;}
input,textarea,button{-webkit-appearance:none;-webkit-border-radius:0}
input[type='checkbox']{-webkit-appearance:checkbox} 
input[type='radio']{-webkit-appearance:radio}

input { 
    -webkit-border-radius:0; /* 모서리 스타일 제거 */ 
    -webkit-appearance:none; /* 인풋내 그림자 제거 */ 
}
input[type='text'], 
input[type='tel'], 
input[type='password'], 
input[type='email'], 
input[type='search'], 
textarea { 
    -webkit-border-radius:0; /* 모서리 스타일 제거 */ 
     -webkit-appearance:none; /* 인풋내 그림자 제거 */ 
}

/* user class */
h1,h2,h3,h4,h5,h6,strong,th,.bold{font-weight:700;}
.clear{clear:both;}
.clearfix {*zoom:1;}
.clearfix:after {content:" "; display:block; clear:both;}
.hide {position:absolute;visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;font:0/0 Arial;}
.pointer {cursor:pointer;}
.input {height:36px; padding:5px 9px; font-size:15px; line-height:24px; border:1px solid #dfdfdf; box-sizing:border-box;}
.input.bg {background:#eee;}
.textarea {padding:5px 9px; font-size:15px; line-height:24px; border:1px solid #dfdfdf; overflow:auto;box-sizing:border-box;}
.select {height:36px; padding:5px; font-size:15px; line-height:24px; border:1px solid #dfdfdf; box-sizing:border-box;}
input[type=file].input {border:0;padding:0;}

.mgb2 {margin-bottom:2px !important;}
.mgb3 {margin-bottom:3px !important;}
.mgb4 {margin-bottom:4px !important;}
.mgb5 {margin-bottom:5px !important;}
.mgb6 {margin-bottom:6px !important;}
.mgb7 {margin-bottom:7px !important;}
.mgb8 {margin-bottom:8px !important;}
.mgb9 {margin-bottom:9px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb15 {margin-bottom:15px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb25 {margin-bottom:25px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb35 {margin-bottom:35px !important;}
.mgb40 {margin-bottom:40px !important;}
.mgb45 {margin-bottom:45px !important;}
.mgb50 {margin-bottom:50px !important;}
.mgb60 {margin-bottom:60px !important;}
.mgb70 {margin-bottom:70px !important;}
.mgb80 {margin-bottom:80px !important;}

.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}

.fl {float:left;}
.fr {float:right;}

.space-center {text-align:center !important;}
.space-right {text-align:right !important;}
.space-left {text-align:left !important;}

.img-responsive {width:auto; height:auto; max-width:100%;}

.video-wrap {max-width:700px; margin:0 auto}
.video-container {position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}
.video-container iframe,
.video-container object,
.video-container embed,
.video-container video{position: absolute;top:0;left:0;width:100%;height:100%;}

.text-point {color:#0d643a;}
.text-orange {color:#ff6210;}

.inline-block {display:inline-block;}